# Virtual environments
myenv/
venv/
env/
ENV/
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# IDE
.idea/
.vscode/
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*~

# Logs
*.log